@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito");

body {
	background-color: mistyrose;
	font-family: "Nunito";
}

a {
	color: purple;
}

h2 {
	color: #330000;
	text-align: center;
	margin-top: 32px;
}

h3 {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	color: PaleVioletRed;
	padding: 3px;
}

h4 {
	text-align: center;
}

p {
	text-align: center;
	margin-top: 25px;
}

h5 {
	font-family: 'Lato', sans-serif;
	text-align: center;
}

ul {
	list-style-image: url("images/tinysoul.png");
}

img {
	vertical-align: middle;
	padding: 2px;
}

hr {
	height: 2px;
	border: none;
	background-color: gray;
}